{
  "tabWidth": 2,
  "printWidth": 120,
  "semi": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
